/**
 * Foundation imports
 * @see vendor/foundation/scss/foundation/_settings.scss
 */
$include-open-sans: false;
$include-html-classes: false;
$include-html-grid-classes: true;
// $include-html-reveal-classes: true;
$include-html-button-classes: true;
$include-html-clearing-classes: true;
$include-html-alert-classes: true;
$include-html-visibility-classes: true;