/**
 * Settings
 * colors and other variables
 */
@import "foundation/scss/foundation/functions";
@import "settings";

/**
 * Foundation - Default styles for common elements
 */
// hack to let foundation believe the global styles are already loaded
// (we dont want them to be included)
$modules: ("global");
@import "foundation/scss/foundation";

@import "_mixin";
@import "_base";
@import "_layout";
@import "modules/_header";
@import "modules/_feed";
@import "_visibility";
@import "_background";
// @import "_labels";

.track-name {
  text-align: left;
  position: absolute;
  left: 133px;
  top: 95px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  max-width: 30%;
  padding-left: 2px;
  padding-right: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 15px;
}
