.stream {
  &:before {
   content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    left: 100px;
    top: -69px;
    background-color: #333;
  }
}
.log-activity {
  font-size: 22px;
  li {
    line-height: 48px;
    height: 48px;
    text-align: right;
    vertical-align: top;
    margin: 0 0 20px;
    img {
      height: 48px;
      width: 48px;
      margin-left: 20px;
    }
  }
}